.top-row-img {
    margin-bottom: 12px;
    
}

.bottom-row-img {
    margin-top: 12px;
}

.top-row-img, .bottom-row-img, .econ-img {
    max-width: 100%;
    border-radius: 8%;
}

.disc-btn {
    background-color: #5865F2;
    border-color: #5865F2;
    border-radius: 12px;
}
.disc-btn:hover {
    background-color: var(--accent);
    border-color: var(--accent);
}