:root {
  --accent: #198754;
  --bg: #000;
}

body {
  margin: 0;
  background-color: var(--bg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  letter-spacing: 0.05em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section-container {
  padding-top: 6vh;
  padding-bottom: 6vh;
}

.header-container {
  color: white;
  padding: 0;
}

.heading {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;  
  font-style:italic;
  font-size: 50px;
  color: var(--accent);
  background: #198754;
  background: -webkit-linear-gradient(to right, #198754 20%, #C1CF63 100%);
  background: -moz-linear-gradient(to right, #198754 20%, #C1CF63 100%);
  background: linear-gradient(to right, #198754 20%, #C1CF63 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.heading-2 {
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-size: 45px;
  /* background: -webkit-linear-gradient(to right, #7EED34 20%, #870D0D 100%);
  background: -moz-linear-gradient(to right, #7EED34 20%, #870D0D 100%);
  background: linear-gradient(to right, #7EED34 20%, #870D0D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.header-content {
  line-height: 1.7;
  letter-spacing: 0.05em;
  padding-bottom: 3vh;
}

::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: var(--accent);
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: var(--accent); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
  border-radius: 100px;
}